.signIn {
  margin: 10rem auto;
  width: 95%;
  max-width: 25rem;
  border-radius: 6px;
  padding: 1rem;
  text-align: center;
  background-color: lightblue;
}

.signIn div {
  display: flex;
  flex-direction: column;
}

.signIn input {
  margin: 4%;
  font-size: 1.5rem;
}

.signIn button {
  display: inline-block;
  border-radius: 2px;
  border-radius: 1rem;
}

.signIn a {
  color: hsl(34deg 100% 50%);
  text-decoration: none;
  font-size: larger;
  padding: 1rem;
}

.Message {
  margin: 1vh auto;
  display: flex;
  justify-content: center;
  background: red;
  max-width: 25rem;
  color: white;
  border-radius: 5px;
}

.mainImage {
  position: fixed;
  width: 3rem;
  top: 0;
  margin-top: 1rem;
  left: 47%;
}
